.footer{
	margin-top:20px;
	display:flex;
	background:#242424;
	align-items: center;
	justify-content: center;
}


.image img{

height: 20px;
padding:10px;


}


.text{

	flex-grow:1;
	color:#878787;
	font-size:12px;
}